.currently-box {
  background: rgb(11, 66, 106);
  background: linear-gradient(
    0deg,
    rgba(11, 66, 106, 1) 2%,
    rgba(0, 0, 0, 1) 98%
  );
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  font-family: "Amatic SC", cursive;
}

.currently-box-speech {
  position: relative;
  width: 500px;
  height: 680px;
}
.currently-box-img {
  width: 400px;
  height: 50%;
  padding-bottom: 15px;
  position: absolute;
  right: 0%;
  bottom: 0;
}
.currently-box-bubbleSVG svg {
  width: 300px;

  position: absolute;
  bottom: 0%;
  left: 0%;
  z-index: 1;
  transition: transform 2s;
  overflow: hidden;
}

.currently-box-bubbleSVG .smallCircle:hover {
  fill: green;
  transition-duration: 1s;
  transition-property: transform;

  transform-origin: 400px 480px;
}

.currently-box-bubbleSVG .bigCircle:hover {
  stroke: white;
  fill: orange;
  transition-duration: 3s;
  transition-property: transform;
  transform: rotate(360deg);
  transform-origin: 285px 235px;
  -webkit-transform: rotate(-360deg);
}

.currently-box-bubbleSVG-text {
  color: black;
  position: absolute;
  top: 120px;
  left: 70px;
  z-index: 1;
  font-size: 40px;
}
