body {
  height: 100%;
}

.past-box,
.project1-box,
.project2-box,
.project3-box,
.future-box {
  min-height: 100vh;
  color: white;
  width: 100%;
  display: flex;

  justify-content: space-around;
}
.header {
  width: 50%;
}

button:focus {
  outline: 0;
}

h1,
h2,
h3 {
  font-family: "Amatic SC", cursive;
  margin: 0;
}

h2 {
  font-size: 90px;
}

p {
  letter-spacing: 1px;
  width: 50%;
  font-family: "Josefin Slab", serif;
}

.app-navbar {
  height: 100%;
  background-color: transparent;
  position: fixed;
  color: white;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Amatic SC", cursive;
  font-size: 40px;
  padding-left: 15px;
}
.app-navbar-li > a {
  color: white;
}
li > a:hover {
  transition: background-color, 0.5s;
  background-color: orange;
}
.is-active,
.is-active:hover {
  transition: background-color, 1s;
  background-color: green;
}
.app-dropDown-menu {
  display: none;
}
.app-dropDown-menu-button {
  display: none;
}

.app-navbar-li-drop-off,
.app-navbar-li-drop-on {
  display: none;
}

@media only screen and (max-width: 764px) {
  .app-dropDown-menu-button {
    display: block;
    position: absolute;
    position: fixed;
    background-size: cover;
    width: 50px;
    height: 50px;
    background-image: url("./../public/menu.png");
    background-color: transparent;
    border: transparent;
    z-index: 3;
  }
  .app-navbar {
    display: none;
  }
  .app-dropDown-menu-on {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: royalblue;
    z-index: 2;
    animation: fade-in 1s;
  }
  .app-dropDown-menu-off {
    z-index: -1;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .app-navbar-li-drop-off {
    z-index: 0;
    display: none;
  }
  .app-navbar-li-drop-on {
    width: 100%;
    height: 100%;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
  }
}
