body {
  height: 100%;
  font-family: "Amatic SC", cursive;
}

.currently-box,
.skills-box,
.project2-box,
.project3-box,
.future-box {
  min-height: 100vh;
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.header {
  width: 50%;
}

button:focus {
  outline: 0;
}

h1,
h2,
h3 {
  font-family: "Amatic SC", cursive;
  margin: 0;
}

h2 {
  font-size: 90px;
}

p {
  letter-spacing: 1px;

  font-family: "Josefin Slab", serif;
}

.app-navbar {
  height: 100%;
  background-color: transparent;
  position: fixed;
  color: white;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Amatic SC", cursive;
  font-size: 40px;
  padding-left: 15px;
}
.app-navbar-li > a {
  color: white;
}
li > a:hover {
  transition: background-color, 0.5s;
  background-color: orange;
}
.is-active,
.is-active:hover {
  transition: background-color, 1s;
  background-color: green;
}
.app-dropDown-menu {
  display: none;
}
.app-dropDown-menu-button {
  display: none;
}

.app-navbar-li-drop-off,
.app-navbar-li-drop-on {
  display: none;
}

.app-cv-button {
  width: 100px;
  height: 100px;
  position: fixed;
  right: 0;
  background-color: transparent;
  border: dotted 3px white;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  color: white;
  font-family: "Amatic SC", cursive;
  font-size: 45px;
  padding: 0;
  z-index: 100;
}
.app-git-button {
  width: 100px;
  height: 100px;
  position: fixed;
  right: 100px;
  background-color: transparent;
  z-index: 100;
  border: dotted 3px white;
  border-top: 0;
  border-right: 5;
  color: white;
  font-family: "Amatic SC", cursive;
  font-size: 45px;
  padding: 0;
}
.app-cv-button:hover {
  transition: background-color, 0.5s;
  background-color: orange;
  border-left: 5px;
}
.app-git-button:hover {
  transition: background-color, 0.5s;
  background-color: orange;
  border-left: dotted 5px white;
}
@media only screen and (max-width: 784px) {
  h2 {
    margin-top: 5px;
    font-size: 55px;
  }
  .currently-box,
  .skills-box,
  .project2-box,
  .project3-box,
  .future-box {
    min-height: 100vh;
    color: white;
    width: 100%;
    display: flex;
  }

  .app-dropDown-menu-button {
    display: block;
    position: absolute;
    position: fixed;
    background-size: cover;
    width: 50px;
    height: 50px;
    background-image: url("./../public/menu.png");
    background-color: transparent;
    border: transparent;
    z-index: 100;
    margin: 15px 0 0 15px;
  }
  .app-dropDown-menu-button:hover {
    transform: scale(1.1);
    transition: transform 1s;
  }
  .app-navbar {
    display: none;
  }
  .app-dropDown-menu-on {
    font-family: "Amatic SC", cursive;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: royalblue;
    z-index: 2;
    animation: fade-in 1s;
    font-size: 50px;
  }
  .app-dropDown-menu-off {
    z-index: -1;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .app-navbar-li-drop-off {
    z-index: 0;
    display: none;
  }
  .app-navbar-li-drop-on {
    width: 100%;
    height: 100%;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
  }
}
